@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.nav-bar {
    display: flex;
    flex: 1;
    background-color: #1f2937;
    padding: 0.5rem 10rem;
}

.header-logo {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    color: #f9faf8;
    font-size: 24px;
}

.link-list {
    display: flex;
    flex: 1;
    gap: 20px;

    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 30px;

    padding: 10rem;
    background-color: #1f2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}
.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero-text button {
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    border: 0;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.information-header {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bold;
    padding: 2rem 10rem;
}

.information-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.information-image {
    width: 144px;
}

.information-image img {
    width: 100%;
    border-radius: 8px;
}

.subtext {
    display: flex;
    flex: 1;
    text-align: center;
}

.testimonial {
    padding: 8rem 15em;
    background-color: #e5e7eb;
}

.testimonial h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: start;
}

.testimonial p {
    font-weight: 700;
    text-align: end;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: #3882f6;
    margin: 5rem 10rem 5rem 10rem;
    padding: 2rem 4rem;
    border-radius: 5px;
}

.sign-up h4 {
    color: #f9faf8;
}

.sign-up p {
    color: #e5e7eb;
}

.sign-up button {
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.footer {
    background-color: #1f2937;
    padding: 2rem 10rem ;
}

.copyright {
    color: #e5e7eb;
    text-align: center;
}